* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #474547; }

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/header.jpg);
  background-size: cover;
  background-attachment: fixed; }

header a {
  text-decoration: none;
  color: inherit; }
  header a:hover {
    text-decoration: none;
    color: inherit; }

.anchor {
  padding-top: 6vh; }

.section-works {
  min-height: 50rem;
  background-color: #fff; }

.section-box {
  background-color: #EAEAEA;
  padding-bottom: 5rem; }

.section-menu {
  min-height: 94vh; }

.section-pricing {
  background-color: #EAEAEA;
  height: 88vh; }

.nav {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  height: 6vh;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .nav > * {
    flex: 1; }
  .nav__list {
    font-weight: 600;
    list-style-type: none; }
    .nav__list--item {
      margin-right: 2rem;
      display: inline-block; }
    .nav__list--link:link, .nav__list--link:visited {
      color: #fff;
      text-decoration: none; }
    .nav__list--link:hover, .nav__list--link:active {
      color: #43AA8B;
      border-bottom: 2px solid #43AA8B;
      padding-bottom: 5px; }
  .nav__title {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__title > * {
      display: inline-block; }
    .nav__title--logo {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .nav__title--text {
      letter-spacing: .5rem; }
  .nav__buttons {
    display: flex;
    justify-content: flex-end; }

.header {
  color: #fff;
  position: relative; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .5rem; }
    .header__text--main {
      font-size: 5rem;
      letter-spacing: .5rem;
      background-image: linear-gradient(rgba(67, 170, 139, 0.6), rgba(67, 170, 139, 0.6));
      margin: 0 2rem;
      z-index: 10;
      position: relative;
      animation-name: moveInTop;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__text--sub {
      font-size: 3rem;
      background-image: linear-gradient(rgba(67, 170, 139, 0.4), rgba(67, 170, 139, 0.4));
      padding: 2rem;
      transform: translateY(-2rem);
      z-index: 1;
      position: relative;
      margin-bottom: 15rem;
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-out; }

.btn-small {
  background-color: #43AA8B;
  padding: .7rem 1rem;
  border-radius: 2px; }
  .btn-small:link, .btn-small:visited {
    color: #fff;
    text-decoration: none; }
  .btn-small:hover {
    background-color: #2B6D59;
    border-bottom: none; }
    .btn-small:hover:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn-pink {
  background-color: #EF3054;
  padding: 1.5rem 1.8rem;
  border-radius: 3px;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform .2s;
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .btn-pink:link, .btn-pink:visited {
    color: #fff;
    text-decoration: none; }
  .btn-pink:hover {
    background-color: #AE233E;
    border-bottom: none; }
  .btn-pink:active {
    transform: translate(-50%, -47%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.section__title {
  display: flex;
  padding: 2rem 0; }
  .section__title--h2 {
    display: inline-block;
    font-size: 3.5rem;
    margin: 0 auto;
    border-bottom: 3px solid;
    width: auto;
    font-weight: 100; }

.section__h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .3rem; }

.section__text--small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600; }

.works {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem 5rem 0rem; }
  .works__step {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .works__step--figure {
      width: 20rem;
      height: 20rem;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      transition: all .2s; }
      .works__step--figure:hover {
        transform: scale(1.1); }
    .works__step--img {
      display: inline-block;
      height: 100%;
      width: auto;
      margin: 0 -3rem; }
    .works__step--subtitle {
      margin: 1.5rem; }

.box {
  display: flex;
  justify-content: center; }
  .box__items {
    margin-top: 5rem; }
    .box__items--figure {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      position: relative;
      transition: transform .1s; }
      .box__items--figure:hover {
        transform: scale(1.1); }
    .box__items--item {
      display: flex;
      padding-bottom: 4rem; }
    .box__items--img {
      display: inline-block;
      height: 100%;
      width: auto;
      margin: 0 -5rem; }
    .box__items--info {
      background-color: #fff;
      width: 40rem;
      margin: 0 4rem; }
      .box__items--info-right {
        margin: 0 0rem 0 4rem; }
    .box__items--title {
      display: inline-block;
      background-image: linear-gradient(rgba(67, 170, 139, 0.25), rgba(67, 170, 139, 0.25));
      margin: 3rem 2rem;
      padding: 2px 1rem; }
    .box__items--text {
      margin: 0 5rem 0 2rem;
      padding: 2px 1rem; }

.menu__item {
  display: flex;
  justify-content: center;
  min-height: 40rem;
  margin: 4rem 0; }
  .menu__item--details {
    width: 60rem;
    height: 60rem;
    box-shadow: 1px 1px 16px -5px rgba(0, 0, 0, 0.75);
    padding: 9rem 18rem 0 9rem; }
  .menu__item--title {
    margin-bottom: 4rem;
    font-size: 2.5rem; }
  .menu__item--desc {
    font-size: 1.7rem;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 7rem; }
  .menu__item--text {
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .menu__item--img {
    width: 60rem;
    height: 60rem;
    background-size: cover;
    margin: 0 0rem;
    background-position: center center; }

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%); }

.carousel-indicators li {
  background-color: #999 !important;
  background-color: #43aa8b !important; }

.pricing {
  display: flex;
  justify-content: center;
  margin-top: 3rem; }
  .pricing__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35rem;
    height: 50rem;
    box-shadow: 1px 1px 16px -5px rgba(0, 0, 0, 0.75);
    transition: transform .1s; }
    .pricing__card:hover {
      transform: scale(1.1); }
    .pricing__card > * {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1; }
    .pricing__card-top {
      justify-content: center;
      background-color: #474547;
      color: #fff;
      border-top: 1rem solid #43AA8B; }
    .pricing__card-bottom {
      justify-content: space-evenly;
      align-items: center; }
    .pricing__card--price {
      font-size: 8rem; }
      .pricing__card--price-span {
        font-size: 2rem; }
    .pricing__card--plan {
      font-size: 3rem; }
    .pricing__card--details {
      font-size: 3rem;
      font-style: italic; }
    .pricing__card--btn {
      font-size: 1.5rem;
      width: 50%; }
      .pricing__card--btn:active {
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .pricing__card:not(:last-child) {
    margin-right: 5rem; }

.footer {
  background-color: #474547;
  color: #fff;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem; }
  .footer * {
    padding-right: .5rem; }
  .footer__icon {
    height: 2rem;
    width: 2rem;
    fill: #fff; }
    .footer__icon:hover {
      fill: #EF3054; }
  .footer__links {
    display: flex; }

.footer a {
  color: white;
  text-decoration: none; }

.footer a:hover {
  color: #EF3054; }

.footer p {
  margin-bottom: 0; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(-2rem); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-30rem, -50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@media only screen and (max-width: 1350px) {
  .box__items--figure {
    width: 15rem;
    height: 15rem; }
  .box__items--info {
    width: 30rem; } }

@media only screen and (max-width: 1250px) {
  .menu__item--details {
    width: 40rem;
    height: 40rem;
    padding: 4rem 8rem 0 4rem; }
  .menu__item--title {
    font-size: 2rem; }
  .menu__item--desc {
    font-size: 1.3rem;
    line-height: 2; }
  .menu__item--text {
    font-size: 1.3rem; }
  .menu__item--img {
    width: 40rem;
    height: 40rem; }
  .pricing__card {
    width: 25rem;
    height: 35rem; }
    .pricing__card--price {
      font-size: 7rem; }
      .pricing__card--price-span {
        font-size: 1.7rem; }
    .pricing__card--plan {
      font-size: 2.5rem; }
    .pricing__card--details {
      font-size: 2.5rem; }
  .pricing__card:not(:last-child) {
    margin-right: 8rem; } }

@media only screen and (max-width: 1150px) {
  .nav {
    padding: 0 1rem; } }

@media only screen and (max-width: 1050px) {
  .header__text--main {
    font-size: 3.5rem;
    margin: 0 2rem;
    font-weight: 100; }
  .header__text--sub {
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 10rem; }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .box__items {
      margin-top: 0rem; }
      .box__items--item {
        display: flex;
        padding-bottom: 0rem; }
      .box__items--img {
        display: inline-block;
        height: 100%;
        width: auto;
        margin: 0 -5rem; }
      .box__items--info {
        background-color: #fff;
        width: 40rem;
        margin: 0 1rem 1rem; }
  .nav__title {
    order: 1; }
  .nav__buttons {
    order: 3; }
  .nav__list {
    flex: 3;
    order: 2;
    padding-top: 5px; } }

@media only screen and (max-width: 950px) {
  .pricing__card {
    width: 25rem;
    height: 40rem; }
    .pricing__card--price {
      font-size: 7rem; }
      .pricing__card--price-span {
        font-size: 1.7rem; }
    .pricing__card--plan {
      font-size: 2.5rem; }
    .pricing__card--details {
      font-size: 2.5rem;
      font-style: italic; }
  .pricing__card:not(:last-child) {
    margin-right: 2rem; } }

@media only screen and (max-width: 850px) {
  .section__title--h2 {
    font-size: 3rem; }
  .section-pricing {
    height: auto; }
  .btn-pink {
    font-size: 1rem; }
  .header__text--main {
    font-size: 3.2rem;
    margin: 0 2rem;
    font-weight: 100; }
  .header__text--sub {
    font-size: 2rem;
    padding: 2rem;
    margin-bottom: 10rem; }
  .works__step--figure {
    width: 15rem;
    height: 15rem; }
  .menu__item--details {
    width: 30rem;
    height: 30rem;
    padding: 3rem 6rem 0 3rem; }
  .menu__item--title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    letter-spacing: 0.1rem; }
  .menu__item--desc {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 2rem; }
  .menu__item--text {
    font-size: 1.3rem; }
  .menu__item--img {
    width: 30rem;
    height: 30rem; }
  .pricing {
    padding-bottom: 3rem; }
    .pricing__card {
      width: 20rem;
      height: 30rem; }
      .pricing__card--price {
        font-size: 6rem; }
        .pricing__card--price-span {
          font-size: 1.4rem; }
      .pricing__card--plan {
        font-size: 2rem; }
      .pricing__card--details {
        font-size: 2rem;
        font-style: italic; }
    .pricing__card:not(:last-child) {
      margin-right: 2rem; } }

@media only screen and (max-width: 700px) {
  .nav {
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 1rem;
    height: 10vh;
    font-size: 1.2rem; }
    .nav__title {
      order: 1;
      flex: 2;
      flex: 1 0 33%; }
    .nav__buttons {
      order: 2;
      flex: 2;
      flex: 1 0 33%; }
    .nav__list {
      flex-basis: 100%;
      display: flex;
      order: 3;
      padding-top: 5px; }
    .nav__list--link:hover, .nav__list--link:active {
      padding-bottom: 5px; }
    .nav__title {
      justify-content: flex-start; }
    .nav__buttons {
      align-items: center;
      padding-top: .5rem; } }

@media only screen and (max-width: 650px) {
  .section__title {
    padding: 1rem 0 3rem 0; }
    .section__title--h2 {
      font-size: 2rem;
      border-bottom: 2px solid; }
  .section-menu {
    min-height: initial !important;
    height: auto; }
  .section__h3 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .2rem; }
  .section__text--small {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600; }
  .works {
    flex-direction: column; }
    .works__step {
      padding-bottom: 3rem; }
  .box__items--img {
    display: inline-block;
    height: 100%;
    width: auto;
    margin: 0 -5rem; }
  .box__items--info {
    background-color: #fff;
    width: 25rem;
    margin: 0 1rem 1rem; }
  .box__items--title {
    display: inline-block;
    background-image: linear-gradient(rgba(67, 170, 139, 0.25), rgba(67, 170, 139, 0.25));
    margin: 2rem;
    padding: 0px 1rem; }
  .box__items--text {
    margin: 0 2rem 0 2rem;
    padding: 0px 1rem; }
  .menu__item {
    margin: 0 !important;
    min-height: initial;
    padding-bottom: 3rem; }
    .menu__item--details {
      width: 20rem;
      height: 20rem;
      padding: 1rem 2rem 0 1rem; }
    .menu__item--title {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
      letter-spacing: 0.1rem; }
    .menu__item--desc {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1rem; }
    .menu__item--text {
      font-size: 1rem;
      margin-bottom: 1rem; }
    .menu__item--img {
      width: 20rem;
      height: 20rem; }
  .pricing {
    flex-direction: column;
    align-items: center; }
    .pricing__card {
      width: 25rem;
      height: 25rem;
      margin-bottom: 2rem; }
      .pricing__card--price {
        font-size: 5rem; }
        .pricing__card--price-span {
          font-size: 1.2rem; }
      .pricing__card--plan {
        font-size: 1.8rem; }
      .pricing__card--details {
        font-size: 1.8rem;
        font-style: italic; }
      .pricing__card--btn {
        font-size: 1.2rem;
        width: 50%;
        margin-bottom: 3px; }
    .pricing__card:not(:last-child) {
      margin-right: 0rem; } }
