* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #474547;
  min-height: 100vh; }

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/header.jpg);
  background-size: cover;
  background-attachment: fixed; }

.section-works {
  min-height: 50rem;
  background-color: #fff; }

.section-box {
  background-color: #EAEAEA;
  padding-bottom: 5rem; }

.nav {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  height: 6vh;
  font-size: 1.2rem;
  position: fixed;
  width: 100%; }
  .nav > * {
    flex: 1; }
  .nav__list {
    font-weight: 600;
    list-style-type: none; }
    .nav__list--item {
      margin-right: 2rem;
      display: inline-block; }
    .nav__list--link:link, .nav__list--link:visited {
      color: #fff;
      text-decoration: none; }
    .nav__list--link:hover, .nav__list--link:active {
      color: #43AA8B;
      border-bottom: 2px solid #43AA8B;
      padding-bottom: 5px; }
  .nav__title {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__title > * {
      display: inline-block; }
    .nav__title--logo {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
    .nav__title--text {
      letter-spacing: .5rem; }
  .nav__buttons {
    display: flex;
    justify-content: flex-end; }

.header {
  color: #fff;
  position: relative; }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .5rem; }
    .header__text--main {
      font-size: 5rem;
      letter-spacing: .5rem;
      background-image: linear-gradient(rgba(43, 109, 89, 0.6), rgba(43, 109, 89, 0.6));
      margin: 0 2rem;
      z-index: 10;
      position: relative;
      animation-name: moveInTop;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__text--sub {
      font-size: 3rem;
      background-image: linear-gradient(rgba(43, 109, 89, 0.4), rgba(43, 109, 89, 0.4));
      padding: 2rem;
      transform: translateY(-2rem);
      z-index: 1;
      position: relative;
      margin-bottom: 15rem;
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-out; }

.btn-small {
  background-color: #43AA8B;
  padding: .7rem 1rem;
  border-radius: 2px; }
  .btn-small:link, .btn-small:visited {
    color: #fff;
    text-decoration: none; }
  .btn-small:hover {
    background-color: #2B6D59;
    border-bottom: none; }

.btn-pink {
  background-color: #EF3054;
  padding: 1.5rem 1.8rem;
  border-radius: 3px;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform .2s;
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
  .btn-pink:link, .btn-pink:visited {
    color: #fff;
    text-decoration: none; }
  .btn-pink:hover {
    background-color: #AE233E;
    border-bottom: none; }
  .btn-pink:active {
    transform: translate(-50%, -47%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.section__title {
  display: flex;
  padding: 2rem 0; }
  .section__title--h2 {
    display: inline-block;
    font-size: 3.5rem;
    margin: 0 auto;
    border-bottom: 3px solid;
    width: auto;
    font-weight: 100; }

.section__h3 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .3rem; }

.section__text--small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600; }

.works {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem 5rem 0rem; }
  .works__step {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .works__step--figure {
      width: 20rem;
      height: 20rem;
      position: relative;
      overflow: hidden;
      border-radius: 50%; }
    .works__step--img {
      display: inline-block;
      height: 100%;
      width: auto;
      margin: 0 -3rem; }
    .works__step--subtitle {
      margin: 1.5rem; }

.box {
  display: flex;
  justify-content: center; }
  .box__items {
    margin-top: 5rem; }
    .box__items--figure {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      position: relative; }
    .box__items--item {
      display: flex;
      padding-bottom: 4rem; }
    .box__items--img {
      display: inline-block;
      height: 100%;
      width: auto;
      margin: 0 -5rem; }
    .box__items--info {
      background-color: #fff;
      width: 40rem;
      margin: 0 4rem; }
    .box__items--title {
      display: inline-block;
      background-image: linear-gradient(rgba(43, 109, 89, 0.25), rgba(43, 109, 89, 0.25));
      margin: 3rem 2rem;
      padding: 2px 1rem; }
    .box__items--text {
      margin: 0 5rem 0 2rem;
      padding: 2px 1rem; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(-2rem); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-30rem, -50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }
