@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(-2rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-30rem, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}