.nav {
    color: $color-white;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    background-image: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35));
    height: 6vh;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 9999;

    & > * {
        flex: 1;
    }

    &__list {
        font-weight: 600;
        list-style-type: none;

        &--item {
            margin-right: 2rem;
            display: inline-block;
        }

        &--link:link,
        &--link:visited {
            color: $color-white;
            text-decoration: none;
        }

        &--link:hover,
        &--link:active {
            color: $color-green;
            border-bottom: 2px solid $color-green;
            padding-bottom: 5px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
            display: inline-block;
        }

        &--logo {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }

        &--text {
            letter-spacing: .5rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
    }
}

.header {
    color: $color-white;
    position: relative;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        letter-spacing: .5rem;

        &--main {
            font-size: 5rem;
            letter-spacing: .5rem;
            background-image: linear-gradient(rgba($color-green,.6), rgba($color-green,.6));
            margin: 0 2rem;
            z-index: 10;
            position: relative;
            animation-name: moveInTop;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        &--sub {
            font-size: 3rem;
            background-image: linear-gradient(rgba($color-green,.4), rgba($color-green,.4));
            padding: 2rem;
            transform: translateY(-2rem);
            z-index: 1;
            position: relative;
            margin-bottom: 15rem;
            animation-name: moveInBottom;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

    }

}

//////////////////////////////////////////////
// buttons

.btn-small {
    background-color: $color-green;
    padding: .7rem 1rem;
    border-radius: 2px;

    &:link,
    &:visited {
        color: $color-white;
        text-decoration: none;
    }

    &:hover {
        background-color: $color-green-dark;
        border-bottom: none;

        &:active {
            box-shadow: 0 .5rem 1rem rgba(black, 0.15);
        }
    }
}

.btn-pink {
    background-color: $color-pink;
    padding: 1.5rem 1.8rem;
    border-radius: 3px;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform .2s;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2rem rgba(black, 0.15);

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    &:link,
    &:visited {
        color: $color-white;
        text-decoration: none;
    }

    &:hover {
        background-color: #AE233E;
        border-bottom: none;
    }

    &:active {
        transform: translate(-50%, -47%);
        box-shadow: 0 .5rem 1rem rgba(black, 0.15);
    }
}

//////////////////////////////////////////////
// reusable
.section__title {
    display: flex;
    padding: 2rem 0;

    &--h2 {
        display: inline-block;
        font-size: 3.5rem;
        margin: 0 auto;
        border-bottom: 3px solid;
        width: auto;
        font-weight: 100;
    }
}

.section__h3 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .3rem;
}

.section__text--small {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
}

//////////////////////////////////////////////
// how it works cards
.works {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem 5rem 0rem;

    &__step {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &--figure {
            width: 20rem;
            height: 20rem;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            transition: all .2s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &--img {
            display: inline-block;
            height: 100%;
            width: auto;
            margin: 0 -3rem;
        }

        &--subtitle {
            margin: 1.5rem;
        }

    }
    
}

//////////////////////////////////////////////
// box 
.box {
    display: flex;
    justify-content: center;


    &__items {
       margin-top: 5rem;

        &--figure {
            width: 20rem;
            height: 20rem;
            overflow: hidden;
            position: relative;
            transition: transform .1s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &--item {
            display: flex;
            padding-bottom: 4rem;
        }

        &--img {
            display: inline-block;
            height: 100%;
            width: auto;
            margin: 0 -5rem;
        }

        &--info {
            background-color: $color-white;
            width: 40rem;
            margin: 0 4rem;
        }

        &--title {
            display: inline-block;
            background-image: linear-gradient(rgba($color-green,.25), rgba($color-green,.25));
            margin: 3rem 2rem;
            padding: 2px 1rem;
        }

        &--text {
            margin: 0 5rem 0 2rem;
            padding: 2px 1rem;
        }
    }
}

//////////////////////////////////////////////
// menu
.menu {

    &__item {
        display: flex;
        justify-content: center;
        min-height: 40rem;
        margin: 4rem 0;

        &--details {
            width: 60rem;
            height: 60rem;
            box-shadow: 1px 1px 16px -5px rgba(0,0,0,0.75);

            padding: 9rem 18rem 0 9rem;
        }

        &--title {
            margin-bottom: 4rem;
            font-size: 2.5rem;
        }

        &--desc {
            font-size: 1.7rem;
            font-weight: 100;
            font-style: italic;
            margin-bottom: 7rem;
        }

        &--text {
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }

        &--img {
            width: 60rem;
            height: 60rem;
            background-size: cover;
            margin: 0 0rem;
            background-position: center center;
        }
    }
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: #999 !important;
    background-color: rgba($color-green,1) !important;
}

//////////////////////////////////////////////
// pricing
.pricing {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    
    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 35rem;
        height: 50rem;
        box-shadow: 1px 1px 16px -5px rgba(0,0,0,0.75);
        transition: transform .1s;

        &:hover {
            transform: scale(1.1);
        }

        > * {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
        }

        &-top {
            justify-content: center;
            background-color: $color-brown;
            color: $color-white;
            border-top: 1rem solid $color-green;
        }

        &-bottom {
            justify-content: space-evenly;
            align-items: center;
        }

        &--price {
            font-size: 8rem;

            &-span {
                font-size: 2rem;
            }
        }

        &--plan {
            font-size: 3rem;
        }

        &--details {
            font-size: 3rem;
            font-style: italic;
        }

        &--btn {
            font-size: 1.5rem;
            width: 50%;

            &:active {
                transform: translateY(.5rem);
                box-shadow: 0 .5rem 1rem rgba(black, 0.15);
            }
        }
    }

    &__card:not(:last-child) {
        margin-right: 5rem;
    }
}

//////////////////////////////////////////////
// footer 
.footer {
    background-color: $color-brown;
    color: $color-white;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;

    * {
        padding-right: .5rem;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-white;

        &:hover {
            fill: $color-pink;
        }
    }

    &__links {
        display: flex;
    }
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: $color-pink;
}

.footer p {
    margin-bottom: 0;
}