header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)), url(../img/header.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section-works {
    min-height: 50rem;
    background-color: $color-white
}

.section-box {
    background-color: $color-background;
    padding-bottom: 5rem;
}

.section-menu {
    min-height: 94vh;
}

.section-pricing {
    background-color: $color-background;
    height: 88vh;
}